<a href="https://colab.research.google.com/github/bob8dod/ML-studying/blob/main/boston_%ED%9E%88%EB%93%A0%EB%A0%88%EC%9D%B4%EC%96%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [4]:
# 데이터 준비
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [5]:
# 독립변수, 종속변수
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax','ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [6]:
# 모델의 구조 생성
X = tf.keras.layers.Input(shape=[13])
H = tf.keras.layers.Dense(10,activation='swish')(X)
Y = tf.keras.layers.Dense(1)(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [9]:
# 모델 확인
model.summary()

Model: "model_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(None, 13)]              0
_________________________________________________________________
dense_2 (Dense)              (None, 10)                140
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 11
=================================================================
Total params: 151
Trainable params: 151
Non-trainable params: 0
_________________________________________________________________

In [8]:
# 데이터로 모델 학습
model.fit(독립,종속, epochs=1000,verbose=0)
model.fit(독립,종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 22.5600
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 21.5032
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 22.1046
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 22.1235
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 20.9314
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 24.0892
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 21.0015
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 21.4476
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 22.0701
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 20.5480

In [10]:
# 모델 이용
model.predict(독립[0:5])

array([[27.850111],
       [22.480246],
       [29.207314],
       [28.387491],
       [28.20569 ]], dtype=float32)

In [11]:
종속[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [ ]:
# 모델의 수식(구조)확인_ 가중치 확인
model.get_weights()

[array([[-0.09298994],
        [ 0.04856797],
        [-0.02816461],
        [ 2.643299  ],
        [-0.144944  ],
        [ 5.325689  ],
        [-0.01062501],
        [-1.0291988 ],
        [ 0.1934907 ],
        [-0.00999216],
        [-0.4840328 ],
        [ 0.01413553],
        [-0.46159855]], dtype=float32), array([6.3474483], dtype=float32)]