<a href="https://colab.research.google.com/github/bob8dod/ML-studying/blob/main/boston.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [4]:
# 데이터 준비
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [6]:
# 독립변수, 종속변수
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax','ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [7]:
# 모델의 구조 생성
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [13]:
# 데이터로 모델 학습
model.fit(독립,종속, epochs=1000,verbose=0)
model.fit(독립,종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 2ms/step - loss: 24.2486
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 24.0110
Epoch 3/10
16/16 [==============================] - 0s 2ms/step - loss: 24.1442
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 23.8826
Epoch 5/10
16/16 [==============================] - 0s 2ms/step - loss: 24.2874
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 24.3200
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 24.2204
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 24.1568
Epoch 9/10
16/16 [==============================] - 0s 2ms/step - loss: 23.7828
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 24.5607

In [14]:
# 모델 이용
model.predict(독립[0:5])

array([[30.334011],
       [25.06808 ],
       [31.627275],
       [30.291998],
       [29.92173 ]], dtype=float32)

In [15]:
종속[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [17]:
# 모델의 수식(구조)확인_ 가중치 확인
model.get_weights()

[array([[-0.09298994],
        [ 0.04856797],
        [-0.02816461],
        [ 2.643299  ],
        [-0.144944  ],
        [ 5.325689  ],
        [-0.01062501],
        [-1.0291988 ],
        [ 0.1934907 ],
        [-0.00999216],
        [-0.4840328 ],
        [ 0.01413553],
        [-0.46159855]], dtype=float32), array([6.3474483], dtype=float32)]